{% extends 'HelpBundle::layout.html.twig' %}

{% block body_container_center %}
    <h1 style="text-align: center;margin-bottom:20px;">{% trans %}¿ Sobre que tema necesitas ayuda ?{% endtrans %}</h1>
    <div class="row">
        <div class="col-xs-6 col-md-4" style="margin-bottom:5%">
            <a href="{{ path('ant_help_nick_index') }}">
                <button type="button" style="min-height: 100px;" class="btn btn-info btn-lg btn-block">Nick / Apodo</button>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="{{ path('ant_help_command_index') }}">
                <button type="button" style="min-height: 100px;" class="btn btn-warning btn-lg btn-block"><i class="icon-bullhorn"> </i> Comandos / IRC</button>
            </a>
        </div>
        <div class="col-xs-6 col-md-4" style="margin-bottom:5%">
            <a href="{{ path('ant_help_channel_index') }}">
                <button type="button" style="min-height: 100px;" class="btn btn-info btn-lg btn-block" data-placement="top" title="Quiero ayuda sobre algún tema relacionado con las salas de chat">Canales</button>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="{{ path('ant_help_account_index') }}">
                <button type="button" style="min-height: 100px;" class="btn btn-success btn-lg btn-block"><i class="icon-user"> </i><i class="glyphicon glyphicon-user"></i> Mi cuenta de usuari@</button>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="{{ path('ant_help_stepper_index') }}">
                <button type="button" style="min-height: 100px;" class="btn btn-primary btn-lg btn-block"><i class="icon-info-sign"></i> <i class="glyphicon glyphicon-picture"></i> Instrucciones paso a paso</button>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="{{ path('ant_help_report_index') }}">
                <button type="button" style="min-height: 100px;" class="btn btn-danger btn-lg btn-block"><i class="icon-envelope"> </i><i class="glyphicon glyphicon-alert"></i> Denuncias</button>
            </a>
        </div>
    </div>


{% endblock %}

